.row1{
    background-color: white;
    
    height: 200px;
    width: 100%;
    position: relative;
    justify-content: space-between;
    
}
.center{
    height: 93px;
    margin-left: 85px;
    margin-top: 18px;
}
.col1{
    background-color: white;
    height: 200px;
    width: 300px;
    margin-left: 239px;
    padding: 10px;
    


}

.col2{
    background-color:;
    height: 200px;
    width: 300px;
    margin-left: 610px;
    margin-top: -200px;
    justify-content: center;
    

}
.top{
    text-align: center;
    margin-left: -27px;
    margin-top: 10px;
}
.top1{
    text-align: center;
    margin-left: -10px;
    margin-top: -58px;
}
.col3{
    background-color: white;
    height: 200px;
    width: 300px;
    margin-left: 945px;
   margin-top: -215px;
    padding: 10px;

}
i{
    margin-left: 120px;
    margin-top: 25px;
}
.h1{
    color: brown;
    text-align: center;
    
}
h2{
    text-align: center;
}
.r2{
    text-align: center;
    color: brown;
}
.row2{
    height: 400px;
    
    
    margin-left: auto;
    
    
    margin-top: 50px;
    
}
.img2{
    height: 400px;
    width: 100%;
}
.head2{
    color: white;
    bottom: 40%;
    left: 40%;
    position: absolute;
}
p{
    position: absolute;
    text-align: center;
}
.row3{
    height: 400px;
    margin-top: 00px;
    margin-left: auto ;
}
.img3{
    height: 400px;
    width: 60%;
}
.row4{
    height: 390px;
    width: 597px;
    background-color: black;
    margin-left: 60%;
    margin-top: -403px;
    padding-left: 4px;
    padding-top: 50px;
}

.head3{
    color: white;
    text-align: center;
}
.f1{
    
    margin-left: 100px;
}
.row5{
    
    padding-top: 25px;
    height: 700px;
    width: 100%;
    background-color: white;
    position: absolute;
    margin-top: 0px;
    text-align: center;
    
}
}
.head4{
    text-align: center;
}
.col{
    height: 600px;
    width: 300px;
    border-radius: 22px;
    background-color:white;
    position: absolute;
    margin-top: 40px;
    box-shadow: 5px 5px 8px 5px #888888;
    
}
.col5{
    margin-left: 72px;
    
}
.col6{
    margin-left: 440px;
    
}
.col7{
    margin-left: 808px;
    
}
.col8{
    margin-left: 1173px;
    
}
.center1{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 29px;
    width: 95%;
    height: 54%;
    
}
    


    
    

.center2{
    display: block;
    margin-left:  auto;
    margin-right: auto;
    margin-top: 29px;
    width: 95%;
    height: 54%;
   
}
    

    


.head6{
    text-align: center;
}
.b1{
    font-size: 13px;
    width: 139px;
    height: 40px;
    
}

.col:hover{
    border-radius: 25px;
    box-shadow: 5px 5px 8px 5px #888888;
}
   

.col9{
    height: 450px;
    width: 50%;
    margin-top: 900px;
    position: absolute;
    

}

.col10{
    height: 390px;
    width: 40%;
    background-color: rgb(93, 155, 93);
    position: absolute;
    margin-top: 900px;
    margin-left: 50%;
    padding-top: 60px;
    padding-left: 150px;
    text-align: left;
}
.img6{
    height: 450px;
    width: 100%;
}
.row6{
    height: 400px;
    width: 100%;
    position: absolute;
    background-color: black;
    
    margin-top: 1500px;
}
.b{
    margin-top: 700px;
    font-size: 13px;
    width: 139px;
    height: 50px;
    border-radius: 15px;
}
.col11{
    height: 400px;
    width: 200px;
    margin-top: 0px;
    position: absolute;
    

}

    
    
    

.col13{
   
    margin-left: 200px;
    padding-left: 5px;
    padding-top: 5px;
   
}
.col14{
    
    margin-left: 400px;
    padding-left: 5px;
    padding-top: 5px;
}
.col15{
    
    margin-left: 600px;
    padding-left: 5px;
    padding-top: 5px;
}
.last{
    height: 185px;
    width: 130px;
    text-align: center;
    margin-left: 46px;
    margin-top: 50px;
}
.l1{
    color: white;
    padding-left: 60px;
}
.l2{
    color: white;
    padding-left: 68px;
}
.l3{
    color: white;
    padding-left: 26px;
}





